<h2>Ninja Listings</h2>
<form id="filter" >
  <label>Filter ninja by name:</label>
  <input type="text" [(ngModel)]="term" name="first" />
</form> 
<ul id="ninja-listing">
  <li *ngFor="let ninja of ninjas | filter: term"  >
    <div class="single-ninja">
      <!-- belt colour -->
      <span [ngStyle]="{background: ninja.belt}">{{ninja.belt}} belt</span>
      <!-- ninja colour -->
      <h3>{{ninja.name}}</h3>
    </div>

  </li>
</ul>
<form id="add-ninja" >
  <input type="text" [(ngModel)]="name" name="second"/>
  <input type="text" [(ngModel)]="belt" name="third"/>
  <button (click)="fbPostData(name, belt)">Add ninja</button>
</form>